*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Open Sans', sans-serif;
     
}
.container{
    max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  
}
.top-hader{
    background-color: #173a69;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-hader .main-colam{
   display: grid;
   grid-template-columns: 4fr 1fr;
}

.top-hader .phone {
	position: relative;
	padding-right: 50px;
}
.top-hader .phone::before{
    content: '\f2a0';
    font-family: fontawesome;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 8px; 
}
.top-hader .write-colam {
	text-align: right;
	margin-right: 10px;
}
.top-hader .email{
    position: relative; 
}
.top-hader .email::before{
    content: '\f0e0';
    font-family: fontawesome;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 8px;
   
}



.top-hader a {
	color: aliceblue;
	text-decoration: none;
	font-size: 13px;
}
.top-hader .twitter{
    padding-left: 20px;
    padding-right: 20px;
}
/*tow saction.................................................................................................*/

.manu-section .main-colam{
    display: flex;
    align-items: center;
}
.manu-section .laft-colam{
    width: 25%;
    margin-right: 2%;
   
}
.manu-section img {
	padding-top: 10px;
	margin-bottom: 10px;
}
.manu-section .write-colam {
	width: 70%;
	margin-left: 4%;
}
.manu-section ul{
    list-style: none;
    text-align: right; 
}

.slicknav_menu {
    display: none;
}
.manu-section ul li {
	display: inline-block;
	margin-left: 75px;
}
.manu-section ul li:last-child{
    left: 0;
}
.manu-section ul li a {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	position: relative;
	font-weight: 700;
}
.manu-section ul li a::before{
    position: absolute;
    content: '';
    background-color: black;
    top: 50px;
    left: 53%;
    height: 4px;
   transform: translateX(-50%);
   text-align: center;
   width: 0;
   transition: .4s;
}
.manu-section ul li a:hover:before{
   
   width: calc(100% + 15px); 
}


/*slider-section...............................................................*/
 
    
   
.slider-section img{

   width: 100%;
}
.slider-section {
    position: relative;
}
 .slider-section .item::before{
     position: absolute;
     content: '';
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     background-color: #fff;
     opacity: 0;
    }
.slider-section .main-colam{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;  
 display: grid;
 grid-template-columns: 1fr 1fr ;
 z-index: 1;
}

.slider-section .flex-colam2{
    width: 400px;
    margin-left: 50px;
   
}
.slider-section .mobile-divice{
    display: none;
   }
   .owl-carousel .owl-item .mobile-divice {
	display: none;
}
   .slider-section h2 {
	font-size: 17px;
	font-weight: 800;
	text-transform: uppercase;
}
.slider-section h1 {
	font-size: 60px;
	font-weight: 800;
    z-index: 999;
}
.slider-section p {
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 35px;
}
.slider-section a{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px; 
}
.slider-section .Contact {
	background-color: #173a69;
	color: white;
	padding: 8px 20px;
	border: 2px solid #173a69;
	transition: .5s;
}
.slider-section .Contact:hover{
    
   color: #173a69;
   background-color: white;
}
.slider-section .Started{

   color: #173a69;
   background-color: white;
    padding: 8px 20px;
    border: 2px solid #173a69;
    margin-left: 10px;
    transition: .5s;
}
.slider-section .Started:hover{
    
    background-color: #173a69;
   color: white;
   

}
    /* ........................................................................*/
    
    
    .services-section{
        text-align: center;
       
    }

    .services-section .container {
        margin-top: 95px;
        margin-bottom: 144px;
    }
    .services-section .top img{
        margin-top: 30px;
    }
    .services-section h2{
        font-size: 28px;
        font-weight: 700;
        
        
    }
    .services-section h4{
        font-size: 17px;
        font-weight: 400;
        margin-top: 30px;
        
        
    }
    .services-section .down {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 72px;
    }
    .services-section .icon h4{
        left: 0;
    }




    /*....................................Abaut saction.............................*/
    .about-section{
        background: url(./img/about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    .about-section .left img{
        width: 100%;

    }
    .about-section .rite img {
        width: auto;
        margin-top: 37px;
        margin-bottom: 22px;
    }
    .about-section .back{
        position: relative;
    }
    .about-section .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 37px;
        padding: 80px 0;
    }
    .about-section h2 {
        margin-top: 50px;
        font-size: 28px;
        font-style: bold;
        font-weight: 700;
    }
    .about-section p {
        font-style: 15px;
        margin-bottom: 30px;
        color: black;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
    }

    /*...........................................................................*/
    .gallery-section .top-section img {
        width: auto;
        padding-top: 35px;
        padding-bottom: 65px;
    }
     .gallery-section .container {
        margin-bottom: 95px;
        margin-top: 95px;
    }
     .gallery-section .top-section{
        text-align: center;
     }
     .gallery-section .top-section h2 {
        text-transform: uppercase;
        font-size: 28px;
    }
    .gallery-section img{
        width: 100%;  
    }
    .gallery-section .colam img{
        width: auto;
       
    }

    .gallery-section .main-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30px;
        column-gap: 30px;
    }


    .gallery-section .photo-section{
        position: relative;
    }

    .gallery-section .photo-section::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: .4s;
       
    }
    .gallery-section .photo-section:hover:after{
       opacity: .6;
        background-color: black;
       
    }
    .gallery-section .colam{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: white;
        opacity: 0;
        transition: .4s;
    }

    .gallery-section .photo-section:hover .colam{
        opacity: 1;
        z-index: 5;
    }
    .gallery-section h2 {
        font-size: 26px;
        font-weight: 700;
    }
    .gallery-section p{
        font-size: 17px;
    }
   
    .gallery-section p {
        font-size: 17px;
        font-weight: 700;
        font-style: italic;
    } 
    
  

    .gallery-section a{
        background-color: #173a69;
        color: white;
        padding: 8px 20px;
        border: 2px solid #173a69;
        transition: .5s;
       text-decoration: none;
       text-transform: uppercase;
       font-weight: 700;
       font-size: 14px;
       
    }

    .gallery-section .get{
        margin-top: 40px;
        text-align: center;
    }
    .gallery-section .get a:hover{
        background-color: white;
        color: #173a69;
    }



    /*..............................................................................*/

    .get-start{
        background-color: #173a69;
    }

   .get-start .container{
    padding-top: 85px;
    padding-bottom: 85px;
   
       
   }
    .get-start .get-1{
        text-align: center;
        color: white;
       
       
    }
     
    .get-start p{
        font-size: 24px;
        font-weight: 600;
    }

    .get-start p a {
        font-size: 30px;
        text-decoration: none;
        color: white;
        font-weight: 800;
        margin-left: 5px;
    }

    /*...........................................................*/
    


    .futter {
        text-align: center;
    }
    .futter .container{
         
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .futter a{
        text-decoration: none;
        color:#8e8e8e;
        text-align: center;
      
    }
    .futter a i {
        height: 36px;
        width: 36px;
        border: 2px solid #acacac;
        font-size: 23px;
        line-height: 35px;
        border-radius: 50%;
        margin: 0 15px;
        margin-top: 50px;
        transition: .5s;
    }
    
    .futter a i:hover{
        color: white;
        background-color: #173a69;
    }
    .soket{
        text-align: center;
        background-color: #173a69;
        color: white;
        padding: 15px 0;
    }
     /* soket-section_______________________________________________________________________________________________*/
    .soket p {
        font-size: 15px;
        font-weight: 700;
    }
    .soket p a {
      
        color: white;
        font-size: 15px;
        font-weight: 800;
        margin-right: 5px;
    }
    
    /*servis section..............................................................................................*/
    


    .innar-section {
        background: url(./img/inner-section.jpg);
        background-size: cover;
        padding-top: 95px;
        padding-bottom: 100px;
        background-position: top; 
        position: relative;
        z-index: -1;  
    }
    .innar-section::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        left: 0;
        top: 0;
        opacity: .6;
    }
    .innar-section .flex-colam{
        text-align: center;
    }
    .innar-section h2 {
        font-size: 32px;
        color: #ffffff;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        font-weight: 800;
    }
    .innar-section p{
        font-size: 14px;
        color: #ffffff;
        z-index: 1;
        position: relative;
       
    }
    .innar-section span{
        padding: 0 5px;
      
    }


    /*   warker section.....................................................*/
    
    
    .warlar-section{
        background: url(./img/servis\ dd.jpg);
        background-repeat: no-repeat;
        background-size: cover;
       
    }

    
    .warlar-section img{
        width: 100%;
    }

    .warlar-section .container {
        padding-top: 135px;
        padding-bottom: 135px;
    }

    .warlar-section .main-colam{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 45px;
    }

    
    .warlar-section h2 {
        font-size: 22px;
        margin: 25px 0;
        font-weight: 600;
        color: #173a69;
    }
    
    .warlar-section p {
        font-size: 15px;
        line-height: 24px;
    }

    /* support section...........................................................................*/
      .support-section{
        background: url(./img/support-background.jpg);
       background-size: cover;
        background-repeat: no-repeat;
        opacity: .95;

      }

    .support-section .container{
        text-align: center;
    }
    .support-section img {
        width: auto;
        margin-top: 30px;
    }

       .support-section .main-colam{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
       padding-top: 80px;
       padding-bottom: 80px;
       }
       .support-section .flex-colam {
        background-color: white;
        color: black;
    }
     .support-section h2{
        color: #173a69;
       }

       .support-section p {
        padding-top: 43px;
        font-size: 15px;
        font-weight: 600;
        padding-right: 20px;
        padding-left: 21px;
        line-height: 23px;
        padding-bottom: 45px;
    }   
       .support-section h2 {
        position: relative;
        margin-top: 13px;
    }

    .support-section h2::after {
        content: '';
        position: absolute;
        background: url(./img/support\ icon.png);
        top: calc(100% + 10px);
        left: 50%;
        height: 21px;
        width: 150px;
        transform: translateX(-50%);
        background-repeat: no-repeat;
    }
       .support-section span{

        color: #173a69;
       }

     /* compani section.......................................................................*/
     
     .compani-section .container {
        text-align: center;
        padding: 45px 0;
    }
     .compani-section h2{

        font-size: 21px;
        font-weight: 700;
     }

     .compani-section span{

        color: #173a69;
     }



       /* manegment part...............................................................................*/
       



         .manegment-section img{
            width: auto;
         }

         .manegment-section {
            background: url(./img/manegment-bac.jpg);
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
         .manegment-section .container{
            text-align: center;
         }
         .manegment-section .main-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 35px;
           padding-top: 80px;
           padding-bottom: 120px;
        }
        .manegment-section h2 {
            font-size: 25px;
           
            font-weight: 700;
            color: #496387;
            margin-top: 30px;
        }


        .manegment-section p{
        font-size: 15px;
        line-height: 25px;
         margin-top: 10px;
       }



       /* liabrari ........................................................................*/






       .laibrari .main-colam {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 25px;
        column-gap: 25px;
    }
       .laibrari .container {
        padding-top: 85px;
        padding-bottom: 113px;
    }

       .laibrari .flex-colam img{
        width: 100%;

       }
       
       .laibrari .text img{
        width: auto;
        color: white;
       }

       


       .laibrari .flex-colam{
        
        position: relative;
       }


       .laibrari .text{
        position:absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #ffffff;
        opacity: 0;
       

       }

       .laibrari .flex-colam::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        transition: .4s;
    }

       .laibrari .flex-colam:hover:after{
        opacity: 1;
        z-index: 2;
        background-color: #000;
        opacity: .7;
       }
       
       .laibrari .flex-colam:hover .text{
        opacity: 1;
        z-index: 5;
        
        
       }


       /* contch-us section................................................................*/
       .contct-section .container {
        padding-top: 97px;
        padding-bottom: 73px;
    }
      
       
       .contct-section .main-colam{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 55px;
       }
       .contct-section input{
        width: 100%;
        height: 37px;
        margin-top: 25px;
        border: 1px solid #e1e1e1;
        font-size: 15px;
        padding-left: 10px;
       }
       .contct-section input:focus{
        border: 1px solid #e1e1e1;
        outline: none;
       }
       .contct-section textarea:focus{
        border: 1px solid #e1e1e1;
        outline: none;
       }
    
       .contct-section textarea{
        height: 135px;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 30px;
        border: 1px solid #e1e1e1;
        resize: none;
        font-size: 15px;
        padding-left: 10px;
        padding-top: 10px;
        font-family: 'Roboto', sans-serif;
       }

       .contct-section a {
        text-decoration: none;
        color: #173a69;
        font-size: 15px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }
       .contct-section a span{
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 700;
       }
       .contct-section .butto {
        background-color: #173a69;
        color: white;
        padding: 8px 20px;
        cursor: pointer;
        border: 2px solid #173a69;
        transition: .4s;
    }
       .contct-section .butto:hover{
        background-color:white;
        color: #173a69;
       }
       .contct-section .flex-colam{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
       }
       .contct-section ul{
        list-style: none;
        
       }
       .contct-section li {
        position: relative;
        margin-top: 20px;
        
    } 
       .contct-section .office::before{
        content: '';
        position: absolute;
        background: url(./img/contch\ 1.png);
        top: 50%;
        left: 0;
        width: 20px;
        height: 15px;
        background-repeat: no-repeat;
        transform: translateY(-50%);
       }
       .contct-section .phone::before{
        content: '';
        position: absolute;
        background: url(./img/phone22.png);
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        transform: translateY(-50%);
       }
       .contct-section .fax::before{
        content: '';
        position: absolute;
        background: url(./img/fax.png);
        top: 50%;
        left: 0;
        width: 20px;
        height: 19px;
        background-repeat: no-repeat;
        transform: translateY(-50%);
       }
      
       .contct-section .websit::before{
        content: '';
        position: absolute;
        background: url(./img/websit.png);
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        transform: translateY(-50%);
       }
    
      
       .contct-section p {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
    }
       .contct-section h2{
        font-size: 25px;
        font-weight: 700;
        }

        @media only screen and (max-width: 3000px) {
          
            .warlar-section .main-colam {
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 35px;
                
            }
           .contct-section from{
                margin-right: 14px;
              }
              .contct-section li a{
                margin-left: 40px;
            }
         }
    
      
    
 @media only screen and (max-width: 1500px){

.services-section .container {
    margin-top: 75px;
    margin-bottom: 102px;
}
  
 }
   

                     
 @media only screen and (max-width: 1200px){
   
    .slider-section .flex-colam2 {
        margin-left: 45px;
        margin-top: -10px;
    }
     #menu {
        display: none;
       
    }
    .slicknav_menu{
        display: block;
        position: absolute;
        top: 72px;
        right: 0;
        z-index: 999;
        background: transparent;
    }
    .slicknav_btn {
        margin: -9px 15px 6px;
    }
    .slicknav_nav {
        height: 100vh;
        width: 243px;
        margin-top: 60px;
        background-color: #173a69;
        z-index: 999;
        position: relative;
    }
    .slicknav_menu .slicknav_menutxt{
        display: none;
    }

    .slicknav_icon{
       font-size: 25px;
       display: none;
    }
    .slicknav_btn {
        background: transparent;
    }
    .slicknav_collapsed{
        position: relative;
    }
    .slicknav_collapsed::after{
        content: "\f0c9";
        position: absolute;
        font-family: fontawesome;
        top: 50%;
        right: 15px;
        font-size: 35px; 
        color: #173a69;

    }
    .slicknav_open::after{
        content: "\f2d3";
        position: absolute;
        font-family: fontawesome;
        top: 50%;
        right: 15px;
        font-size: 40px; 
        color: #173a69;
    }
    .slicknav_menu a {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        line-height: 30px;
    }
    .slider-section h1 {
        font-size: 50px;
    }
    .about-section .rite img {
        margin-top: 31px;
        margin-bottom: 15px;
    }
  .contct-section .left-colam{
    padding-right: 15px;
     }
    }
  @media only screen and (max-width: 1100px){
  
    .slider-section h1 {
        font-size: 50px;
        font-weight: 800;
    }
   
    .about-section p {
        font-style: 15px;
        line-height: 19px;
    }
    .about-section .rite img {
        margin-top: 27px;
        margin-bottom: 12px;
    }
  }      
    @media only screen and (max-width: 1024px){
     
    .manegment-section {
        background-repeat: no-repeat;
    }

                          
       }
     
     
       @media only screen and (max-width: 989px) {
        .slider-section .dextop-devise{
            display: none;
        }
        .slider-section .mobile-divice{
            display: block;
           }
           .owl-carousel .owl-item .dextop-devise {
            display:none;

        }
        .owl-carousel .owl-item .mobile-divice {
            display: block;
        }
        .slider-section .item::before{
             opacity: .6;     
        }
       
           .slider-section .main-colam {
            grid-template-columns: 1fr;
            text-align: center;
        }
        
        .slider-section .flex-colam2 {
            width: 400px;
            margin: 0 auto;   
        }
       
        .about-section {
            padding-top: 0;
            padding-bottom:0;
        }
        .about-section h2 {
            margin-top: 0;
        }
        .manegment-section .main-section {
            grid-template-columns: 1fr;
            margin-top: 20px;
            row-gap: 50px;
        }
        .warlar-section .main-colam {
            margin-top: -61px;
            margin-bottom: -22px;
        }
        .support-section .main-colam {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 55px 0;
        }
        .support-section .main-colam {
            row-gap: 35px;
        }
        .support-section .main-colam {
            padding: 58px 0;
        }
        .manegment-section .main-section {
            padding-top: 60px;
            padding-bottom: 100px;
        }
        .laibrari .container {
            padding-top: 65px;
            padding-bottom: 73px;
        }
        .contct-section li a {
            margin-left: 27px;
        }

        .contct-section .main-colam {
            column-gap: 21px;
        }
     
      }

       

   
        @media screen and (max-width: 800px){
            .about-section .main {
                grid-template-columns: 1fr;
            }
           
            .services-section h4 {
                margin-top: 37px;
                margin-bottom: 34px;
            }
            .services-section .container {
                margin-top: 55px;
                margin-bottom: 60px;
            }
            .services-section .down img {
                padding-top: 0;
            }
            .services-section .top img {
                margin-top: 19px;
            }
           .services-section .down {
            grid-template-columns: 1fr;
            margin-top: 38px;
        }
        .about-section .main {
            padding-top: 80px;
            padding-bottom: 50px;
            row-gap: 40px;
        }
     
        .support-section .main-colam {
            grid-template-columns: 1fr;
        }  
            .gallery-section .main-section {
                grid-template-columns: 1fr 1fr;
                row-gap: 30px;
            }
            .laibrari .container {
                padding-top: 56px;
                padding-bottom: 58px;
            }
        .contct-section textarea {
            height: 105px;
        }
        .manegment-section {
            background-repeat: repeat;
        }
           
    .contct-section .main-colam {
       grid-template-columns: 1fr ;
       row-gap: 40px;
    }
    .contct-section li a{
        margin-left: 40px;
    }
        .contct-section .container {
            padding-top: 77px;
            padding-bottom: 53px;
        }

        }




          @media only screen and (max-width: 767px) {
            .slider-section h1 {
                font-size: 41px;
                line-height: 37px;
            }
     
    .warlar-section .main-colam {
        grid-template-columns: 1fr;
        row-gap: 35px;
    }

    .laibrari .main-colam {
        grid-template-columns: 1fr 1fr;
    }
    .contct-section textarea {
        height: 105px;
    }
    
        .contct-section textarea {
            height: 90px;
        }
        .contct-section input {
            margin-top: 16px;
        }
       
       
    
          }
         
         
        @media only screen and (max-width: 640px) {
            .container {
                padding: 0 25px;
            }
            .top-hader .main-colam {
                grid-template-columns: 1fr;
                text-align: center;
            }
            .top-hader .write-colam {
                width: 100%;
                text-align: center;
                margin-top: 5px;
            }
            .gallery-section .main-section {
                grid-template-columns:  1fr;
                row-gap: 20px;
            }
            .top-hader .phone {
                padding-right: 26px;
            }
            .slider-section h1 {
                font-size: 40px;
                line-height: 29px;
                margin-bottom: 10px;
            }
            .slider-section .Contact {
                padding: 7px 15px;
            }
            .slider-section .Started {
                padding: 7px 15px; 
              }
              .slider-section p {
                line-height: 15px;
                padding-bottom: 23px;
            }

           
            .warlar-section .flex-colam {
                margin-top: 3px;
            }
            .manegment-section .main-section {
                row-gap: 35px;
            }
            .manegment-section h2 {
                margin-top: 8px;
            }
            .manegment-section p {
                margin-top: 4px;
            }
            .manegment-section .main-section {
                padding-top: 53px;
                padding-bottom: 58px;
            }
            .warlar-section .container {
                padding-top: 135px;
                padding-bottom: 103px;
            }
            .support-section h2 {
                margin-top: 6px;
            }
            .about-section .main {
                padding-top: 59px;
                padding-bottom: 38px;
                row-gap: 35px;
            }
            .laibrari .main-colam {
                grid-template-columns: 1fr;
            }
          
           .contct-section p {
            margin-bottom: 8px;
        }
        .contct-section .butto {
            padding: 8px 14px;
        }
    .slicknav_menu {
        top: 98px;
    }
  
    br{
        display: none;
    }
    .contct-section .container {
        padding-top: 39px;
        padding-bottom: 44px;
    }
    .contct-section li {
        margin-top: 16px;
    }
}
   
        @media only screen and (max-width: 520px) {
            .slider-section p {
                padding-top: 3px;
                padding-bottom: 24px;
            }
            .slider-section .Contact {
                padding: 5px 12px;
              }
              .slider-section .Started {
                padding: 5px 12px;
              }
              .services-section .container {
                margin-bottom: 13px;
                margin-top: 28px;
            }
            .about-section {
                padding:0;
            }
            .about-section .main {
                row-gap: 30px;
            }
            .support-section .main-colam {
                row-gap: 25px;
            }
            .support-section .main-colam {
                padding: 43px 0;
            }
            .about-section .rite img {
                margin-top: 17px;
                margin-bottom: 7px;
            }
            .about-section p {
                margin-bottom: 10px;
            }
            .support-section p {
                padding-top: 26px;
                padding-bottom: 26px;
            }
            .support-section h2 {
                line-height: 25px;
            }
        
            .gallery-section .container {
                margin-bottom: 55px;
                margin-top: 37px;
            }
            .warlar-section .container {
                margin-top: 67px;
                padding-bottom: 67px;
            }
            .warlar-section h2 {
                margin: 6px 0;
            }
   
    .laibrari .container {
        padding-top: 75px;
        padding-bottom: 90px;
    }
    .laibrari .main-colam {
        row-gap: 20px;
    }
        .laibrari .container {
            padding-top: 58px;
            padding-bottom: 54px;
        }
        .contct-section .flex-colam {
            grid-template-columns: 1fr ;
            column-gap: 30px;
           }
           .slicknav_nav {
            width: 160px;
        }
        .futter .container {
            margin-top: 48px;
            margin-bottom: 31px;
        }
        .futter a i {
            height: 31px;
            width: 31px;
            font-size: 18px;
            line-height: 31px;
            margin: 0 4px;
            margin-top: 15px;
        }
        .contct-section .container {
            padding-top: 32px;
            padding-bottom: 34px;
        }
        .contct-section li {
            margin-top: 14px;
        }
    }
               
        @media only screen and (max-width: 480px) {
            .container {
                padding: 0 16px;
            }
            
            .slider-section .flex-colam2 {
                width: 300px;
            }
        .services-section h4 {
            margin-top: 18px;
            margin-bottom: 34px;
        }
        .about-section .main {
            grid-template-columns: 1fr;
            text-align: center;
        }
        .about-section .main {
            padding-top: 57px;
            padding-bottom: 17px;
        }
       
        .gallery-section .main-section {
            row-gap: 15px;
        }
        .gallery-section .top-section img {
            padding-top: 24px;
            padding-bottom: 39px;
        }
        .laibrari .main-colam {
            grid-template-columns: 1fr;
        }
        .laibrari .container {
            padding-top: 43px;
            padding-bottom: 43px;
        }
            .manegment-section {
                background-repeat: repeat;
            }
           
          
    }
             
        @media only screen and (max-width: 380px) {
            .top-hader .phone {
                padding-right: 13px;
            }
            .slider-section h2{
                font-size: 16px;
            }
            .slider-section .flex-colam2 {
                padding: 0;  
            }
            .slider-section .container{
                text-align: center;
            }
            .services-section .down {
                grid-template-columns: 1fr;
                margin-top: 38px;
            }
            .services-section h4 {
                margin-top: 11px;
                margin-bottom: 34px;
            }
            .warlar-section .flex-colam:first-child{
                margin-top: 0;
            }
          .support-section .main-colam {
            display: grid;
            grid-template-columns: 1fr;
            padding: 43px 0;
        }
        .laibrari .main-colam {
            grid-template-columns: 1fr;
        }
       
        
         
        }